.body{
    background-color: #ffffff;
}

.form{
    color:black;
    text-align: center;
}

.timeInput{
    width: 100px;
    height: 35px;
}

.divisor{
    font-size: 45px;
}

.hourAction{
    text-align: justify;
    width: 20px;
    height: 10px;
}